---
import CommonLayout from "../../layouts/CommonLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<CommonLayout mainHeading="Blog">
    <section>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.id}/`} class="no-underline">
                            {post.data.heroImage && (
                                <Image
                                    width={720}
                                    height={360}
                                    src={post.data.heroImage}
                                    alt=""
                                />
                            )}
                            <h2 class="">{post.data.title}</h2>
                            <p class="small">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</CommonLayout>
