---
import { Mail } from "@lucide/astro";
---

<a
    href="mailto:mihajlomandic27@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    class="icon-button"
    aria-label="Send an email"
    ><Mail color="currentColor" /><span class="sr-only">Send an email</span></a
>
