---
import { Rss } from "@lucide/astro";
---

<a
    href="/rss.xml"
    target="_blank"
    rel="noopener noreferrer"
    class="icon-button"
    aria-label="RSS feed"
    ><Rss color="currentColor" /><span class="sr-only">RSS feed</span></a
>
