---
import RssButton from "./RssButton.astro";
import MastodonButton from "./MastodonButton.astro";
import GithubButton from "./GithubButton.astro";
import LinkedinButton from "./LinkedinButton.astro";
import BlueskyButton from "./BlueskyButton.astro";
import EmailButton from "./EmailButton.astro";
---

<div class="flex wrap gap-4 items-center">
    <MastodonButton />
    <BlueskyButton />
    <GithubButton />
    <LinkedinButton />
    <EmailButton />
    <RssButton />
</div>
