@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
  navigation: auto;
}

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Inter", Helvetica, "Segoe UI", Roboto, Arial, system-ui, sans-serif;
}

@layer base {
  html {
    scrollbar-gutter: stable both-egdes;
  }

  body {
    @apply font-sans bg-stone-300 dark:bg-stone-800 text-stone-700 dark:text-stone-300;
  }

  main {
    @apply max-w-4xl mx-auto px-6;
  }

  h1 {
    @apply text-4xl md:text-5xl font-semibold mb-4 mt-16 text-green-800 dark:text-green-200;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold mb-2 mt-8 text-stone-800 dark:text-stone-200;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold mb-1 mt-4 text-stone-800 dark:text-stone-200;
  }
  h4 {
    @apply text-lg md:text-xl font-semibold mb-0.5 mt-2 text-stone-800 dark:text-stone-200;
  }
  h5 {
    @apply text-base md:text-lg font-semibold mt-1 text-stone-800 dark:text-stone-200;
  }
  h6 {
    @apply text-sm  md:text-base font-semibold text-stone-800 dark:text-stone-200;
  }

  p {
    @apply text-lg;
  }
  small {
    @apply text-stone-600 dark:text-stone-400 leading-5 text-xs;
  }

  a {
    @apply underline hover:text-green-800 hover:dark:text-green-200 active:opacity-50;
  }
}
