@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
  navigation: auto;
}

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Inter", Helvetica, "Segoe UI", Roboto, Arial, system-ui, sans-serif;
}

@layer base {
  html {
    scrollbar-gutter: stable both-egdes;
  }

  body {
    @apply font-sans bg-neutral-50 dark:bg-neutral-900 text-neutral-800 dark:text-neutral-200;
  }

  main {
    @apply max-w-4xl mx-auto px-6;
  }

  h1 {
    @apply text-4xl md:text-5xl font-bold mb-4 mt-16;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold mb-2 mt-8;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold mb-1 mt-4;
  }
  h4 {
    @apply text-lg md:text-xl font-semibold mb-0.5 mt-2;
  }
  h5 {
    @apply text-base md:text-lg font-semibold mt-1;
  }
  h6 {
    @apply text-sm  md:text-base font-semibold;
  }

  p {
    @apply text-lg;
  }
  small {
    @apply text-neutral-500 dark:text-neutral-400 leading-5 text-xs;
  }

  a {
    @apply underline hover:text-green-800 hover:dark:text-green-200 active:opacity-50;
  }
}
