@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Helvetica, Inter, "Segoe UI", Roboto, Arial, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "IBM Plex Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "IBM Plex Mono" ,SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  

  --color-stone-50: hsl(60, 9%, 98%);
  --color-stone-100: hsl(60, 7%, 96%);
  --color-stone-200: hsl(20, 11%, 90%);
  --color-stone-300: hsl(20, 15%, 83%);
  --color-stone-400: hsl(27, 11%, 63%);
  --color-stone-500: hsl(26, 8%, 45%);
  --color-stone-600: hsl(36, 6%, 32%);
  --color-stone-700: hsl(33, 7%, 25%);
  --color-stone-800: hsl(12, 6%, 15%);
  --color-stone-900: hsl(24, 10%, 10%);
  --color-stone-950: hsl(20, 14%, 4%);
}

@layer base {
  html {
    scrollbar-gutter: stable both-egdes;
  }

  body {
    @apply font-sans bg-stone-300 dark:bg-stone-800 text-stone-700 dark:text-stone-300;
  }

  main {
    @apply max-w-4xl mx-auto px-6;
  }

  h1 {
    @apply text-5xl sm:text-6xl  mb-4 mt-12  font-normal  font-serif italic;
  }
  h2 {
    @apply text-2xl sm:text-3xl font-medium mb-1 mt-6 ;
  }
  h3 {
    @apply text-xl sm:text-2xl font-medium mb-1 mt-4 ;
  }
  h4 {
    @apply text-lg sm:text-xl font-medium mb-1 mt-2 ;
  }
  h5 {
    @apply text-base sm:text-lg font-medium mb-1 mt-1 ;
  }
  h6 {
    @apply text-sm  sm:text-base font-medium mb-1 mt-1;
  }

  p {
    @apply text-lg mb-2;
  }
  small {
    @apply text-stone-600 dark:text-stone-400 leading-5 text-sm;
  }
  .small {
    @apply text-stone-600 dark:text-stone-400 leading-5 text-sm;
  }
  .darker {
    @apply text-stone-600 dark:text-stone-400;
  }

  a {
    @apply underline inline-block underline-offset-3 hover:p-1 hover:-m-1 transition-transform hover:-translate-y-1 hover:text-green-800 hover:dark:text-green-300 active:opacity-50 active:translate-y-0;
  }
  .hover-highlight {
    @apply  hover:text-green-800 hover:dark:text-green-300 active:opacity-50 ;
  }

  ::selection {
    @apply bg-green-800 text-white;
  }
}
