@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Inter", Helvetica, "Segoe UI", Roboto, Arial, system-ui, sans-serif;

  --color-stone-50: hsl(60, 9%, 98%);
  --color-stone-100: hsl(60, 7%, 96%);
  --color-stone-200: hsl(20, 11%, 90%);
  --color-stone-300: hsl(20, 15%, 83%);
  --color-stone-400: hsl(27, 11%, 63%);
  --color-stone-500: hsl(26, 8%, 45%);
  --color-stone-600: hsl(36, 6%, 32%);
  --color-stone-700: hsl(33, 7%, 25%);
  --color-stone-800: hsl(12, 6%, 15%);
  --color-stone-900: hsl(24, 10%, 10%);
  --color-stone-950: hsl(20, 14%, 4%);
}

@layer base {
  html {
    scrollbar-gutter: stable both-egdes;
  }

  body {
    @apply font-sans bg-stone-300 dark:bg-stone-800 text-stone-700 dark:text-stone-300;
  }

  main {
    @apply max-w-4xl mx-auto px-6;
  }

  h1 {
    @apply text-5xl md:text-6xl font-semibold mb-4 mt-16 text-green-900 dark:text-green-300;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold mb-2 mt-8 text-stone-800 dark:text-stone-200;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold mb-1 mt-4 text-stone-800 dark:text-stone-200;
  }
  h4 {
    @apply text-lg md:text-xl font-semibold mb-0.5 mt-2 text-stone-800 dark:text-stone-200;
  }
  h5 {
    @apply text-base md:text-lg font-semibold mt-1 text-stone-800 dark:text-stone-200;
  }
  h6 {
    @apply text-sm  md:text-base font-semibold text-stone-800 dark:text-stone-200;
  }

  p {
    @apply text-lg;
  }
  small {
    @apply text-stone-600 dark:text-stone-400 leading-5 text-xs;
  }

  a {
    @apply underline hover:text-green-900 hover:dark:text-green-300 active:opacity-50;
  }
}
