---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="About">
    <h2>Who Am I?</h2>
    <p>Hi, I'm Michael, a software engineer and student in Belgrade!</p>
    <h2>Education</h2>
    <h2>Skills</h2>
</CommonLayout>
