---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="About">
    <h2>Who Am I?</h2>
    <p>Hi, I'm Michael, a software engineer and student in Belgrade!</p>
    <h2>Education</h2>
    <p>
        <span class="small">
            <time datetime="2024-10">Oct 2024</time> - Present
        </span><br />
        B.Sc. in Software Engineering<br />
        University of Belgrade, School of Electrical Engineering
    </p>
</CommonLayout>
