---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="Bookmarks">
    <p>Useful links and resources.</p>
    <ul>
        <li><a href="https://example.com">Example Link</a></li>
        <li><a href="https://another-example.com">Another Example Link</a></li>
    </ul>
</CommonLayout>
