---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="Contact">
    <p>
        You can get in touch by sending a message on LinkedIn or an email to <a
            href="mailto:mihajlomandic27@gmail.com"
            target="_blank">mihajlomandic27@gmail.com</a>
    </p>
</CommonLayout>
