---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="Hi, I'm Michael!">
	<p>I'm a software engineer and student in Belgrade.</p>
	<p>
		You can read more <a href="/about">about me</a>, find me <a
			href="/links">elsewhere</a
		> or <a href="/contact">get in touch</a>.
	</p>
</CommonLayout>
