---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout mainHeading="Legal">
    <p>
        Copyright © 2026 Michael Mandic.<br />Code licensed under <a
            href="https://opensource.org/license/MIT"
            target="_blank"
            class="">MIT</a
        >.<br />Content and assets licensed under <a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
            target="_blank"
            class="">CC BY-NC-ND 4.0</a
        >.
    </p>
</CommonLayout>
