---
import SocialRow from "./social_buttons/SocialRow.astro";
---

<footer class="max-w-2xl mt-16 pb-12 mx-6 text-faint">
    <hr />
    <div class="flex flex-col gap-6">
        <div
            class="flex gap-2 hidden-underline flex-row-reverse justify-between"
        >
            <a href="#top" class="italic button-link">back to top ↑</a>
            <a href="/webrings" class="italic button-link"
                >Explore the indie Web</a
            >
        </div>

        <div>
            <SocialRow />
        </div>

        <div
            class="sm:grid sm:grid-cols-2 hidden-underline md:grid-cols-2 gap-4 flex flex-col w-full link-table"
        >
            <div>
                <span class="m-0 mb-1 text-blackwhite">Navigation</span>
                <ul class="flex flex-col gap-1">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/tip">Tip</a></li>
                </ul>
            </div>

            <div>
                <span class="mb-1 m-0 text-blackwhite">Other Links</span>
                <ul class="flex flex-col gap-1">
                    <li>
                        <a
                            href="https://github.com/michaelmandic/michaelmandic.com"
                            target="_blank">Source Code</a
                        >
                    </li>
                    <li><a href="/sitemap-index.xml">Sitemap</a></li>
                    <li><a href="/legal">Legal</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
