<footer
    class="w-full mt-12 border-t-2 border-neutral-200 dark:border-neutral-800"
>
    <div class="max-w-4xl mx-auto px-5 py-5">
        <small class="text-neutral-500 dark:text-neutral-400"
            >Copyright © 2026 Michael Mandic. All rights reserved.</small
        >
    </div>
</footer>
