---
import { Menu, X } from "@lucide/astro";
---

<header id="top" class="max-w-2xl mb-16 pt-12 text-faint hidden-underline">
    <div
        class="gap-3 px-6 relative z-50 flex justify-center sm:justify-start sm:items-center flex-col sm:flex-row"
    >
        <nav>
            <ul class="flex gap-x-3 gap-y-0 flex-wrap">
                <li><a href="/" class="hidden-underline">Home</a></li>
                <li><a href="/blog" class="hidden-underline">Blog</a></li>
                <li><a href="/links" class="hidden-underline">Links</a></li>
                <li><a href="/about" class="hidden-underline">About</a></li>
                <li><a href="/contact" class="hidden-underline">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
