---
import { Menu, X } from "@lucide/astro";
---

<header class="w-full mb-12">
    <div
        class="max-w-4xl mx-auto px-6 py-6 flex justify-between items-center relative z-50 font-medium"
    >
        <a href="/" aria-label="Homepage">MM</a>
        <nav class="hidden md:flex">
            <ul class="flex gap-6 place-self-center">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <button
            @click="open = !open"
            class="md:hidden hover:cursor-pointer p-3 -m-3"
        >
            <span x-show="!open"><Menu /></span>
            <span x-show="open"><X /></span>
        </button>
    </div>

    <div
        x-show="open"
        x-transition.opacity
        class="md:hidden fixed inset-0 px-6 pt-36 bg-stone-300 dark:bg-stone-800 z-40 flex flex-col"
    >
        <nav>
            <ul class="flex flex-col w-full gap-6 text-3xl font-semibold">
                <li>
                    <a href="/blog" @click="open=false" class="block">Blog</a>
                </li>
                <li>
                    <a href="/links" @click="open=false" class="block">Links</a>
                </li>
                <li>
                    <a href="/about" @click="open=false" class="block">About</a>
                </li>
                <li>
                    <a href="/contact" @click="open=false" class="block"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    a {
        @apply no-underline;
    }
</style>
